<div class="modal fade" id="editMultipleWellsModal" tabindex="-1" aria-labelledby="editMultipleWellsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMultipleWellsModalLabel">Edit Multiple Wells</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="max-height: 80vh; overflow-y: auto;">
        <div class="tab-content mt-3" id="bulkWellTabContent">
          <div class="tab-pane fade show active" id="bulk-content" role="tabpanel" aria-labelledby="bulk-content-tab">
            <form id="bulkStockSolutionForm">
              <div class="mb-3">
                <h6>Add Stock Solution</h6>
                <div class="row">
                  <div class="col-md-8">
                    <label for="bulkStockSolutionSearch" class="form-label">Stock Solution</label>
                    <input type="text" class="form-control" id="bulkStockSolutionSearch" placeholder="Search stock solution..." autocomplete="off">
                    <input type="hidden" id="bulkStockSolutionId">
                    <div id="bulkStockSolutionResults" class="dropdown-menu" style="max-height: 200px;overflow-y: auto;"></div>
                  </div>
                  <div class="col-md-4">
                    <label for="bulkVolumeAmountInput" class="form-label">Volume with unit</label>
                    <input type="text" class="form-control" id="bulkVolumeAmountInput" placeholder="e.g. 50 μL">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Add to selected wells</button>
            </form>
            <div id="bulkContentMessages" class="mt-2"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
