<div id="<%= dom_id plate %>">
  <p>
    <strong>Barcode:</strong>
    <%= plate.barcode %>
  </p>

  <p>
    <strong>Location stack:</strong>
    <%= plate.location_stack %>
  </p>

  <p>
    <strong>Location position:</strong>
    <%= plate.location_position %>
  </p>

</div>
