<style>
  .modal-xxl {
    max-width: 95vw !important;
  }
  .modal-xxl .modal-body {
    max-height: 85vh;
  }
</style>

<div class="modal fade" id="wellImagesModal" tabindex="-1" aria-labelledby="wellImagesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="wellImagesModalLabel">Well Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"
        style="max-height: 80vh; overflow-y: auto;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="wellTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="images-tab" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab" aria-controls="images" aria-selected="true">Images</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="content-tab" data-bs-toggle="tab" data-bs-target="#content" type="button" role="tab" aria-controls="content" aria-selected="false">Stock Solutions</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pxrd-tab" data-bs-toggle="tab" data-bs-target="#pxrd" type="button" role="tab" aria-controls="pxrd" aria-selected="false">PXRD</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="scxrd-tab" data-bs-toggle="tab" data-bs-target="#scxrd" type="button" role="tab" aria-controls="scxrd" aria-selected="false">SCXRD</button>
          </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content mt-3" id="wellTabContent">
          <div class="tab-pane fade show active" id="images" role="tabpanel" aria-labelledby="images-tab">
            <div id="wellImagesContent">
              <!-- Images will be injected here -->
            </div>
          </div>
          <div class="tab-pane fade" id="content" role="tabpanel" aria-labelledby="content-tab">
            <div id="wellContentForm">
              <!-- Stock solution form will be injected here -->
            </div>
          </div>
          <div class="tab-pane fade" id="pxrd" role="tabpanel" aria-labelledby="pxrd-tab">
            <div id="wellPxrdContent">
              <!-- PXRD patterns will be injected here -->
            </div>
          </div>
          <div class="tab-pane fade" id="scxrd" role="tabpanel" aria-labelledby="scxrd-tab">
            <div id="wellScxrdContent">
              <!-- SCXRD datasets will be injected here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
