<div id="<%= dom_id well %>">
  <p>
    <strong>Plate:</strong>
    <%= well.plate_id %>
  </p>

  <p>
    <strong>Row:</strong>
    <%= well.row %>
  </p>

  <p>
    <strong>Column:</strong>
    <%= well.column %>
  </p>

</div>
