<% content_for :title, "Locations" %>

<h1>Locations</h1>

<h5>Carousel Locations</h5>
<table>
  <thead>
    <tr>
      <th>Carousel</th>
      <th>Hotel Position</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @carousel_locations.each do |location| %>
      <tr>
        <td><%= location.carousel_position %></td>
        <td><%= location.hotel_position %></td>
        <td>
          <% if location.has_current_plate? %>
            <span class="badge bg-warning">Occupied</span>
          <% else %>
            <span class="badge bg-success">Available</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h5>Special Locations</h5>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @special_locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td>
          <% if location.has_current_plate? %>
            <span class="badge bg-warning">Occupied</span>
          <% else %>
            <span class="badge bg-success">Available</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
