<% content_for :title, "New Location" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">Create New Location</h1>
  <%= link_to 'Back', locations_path, class: "btn btn-outline-secondary" %>
</div>

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <%= render 'form', location: @location %>
      </div>
    </div>
  </div>
</div>
